body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.card-container {
    display: grid;
    gap: 20px;
}


.card-container {
    grid-template-columns: 1fr;
}

.card {
    background: #52145d;
    color: aliceblue;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}


@media (min-width: 480px) and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 768px) and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}